/* Aqui empieza la barra de navegación*/

* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif; margin:0}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Se trabaja el diseño y maquetación de la pagina*/

.contenedor{
  width: 100%;
  display: grid;
  grid-template-areas: 
  'encabezado encabezado encabezado'
  'titulo titulo titulo'
  'imagen1 info1 tienda1'
  'imagen2 info2 tienda2'
  'imagen3 info3 tienda3'
  'imagen4 info4 tienda4'
  'imagen5 info5 tienda5'
  'imagen6 info6 tienda6'
  'imagen7 info7 tienda7'
  'imagen8 info8 tienda8'
  'pie pie pie'
  ;
  grid-template-rows: 10vh 10vh 70vh 70vh 70vh 70vh 70vh 70vh 70vh 70vh 10vh;
  grid-template-columns: 25% 30% 45%;
}

header{
  grid-area: encabezado;
}

.titulo{
  grid-area: titulo;
  padding: 10px;
  font-family: 'Arial Narrow Bold';
  font-size: 40px;
}

.imagen1{
  grid-area: imagen1;
  padding: 10px;
}

.tienda1{
  grid-area: tienda1;
  padding: 10px;
}

.info1{
  grid-area: info1;
  padding: 10px;
}

.imagen2{
  grid-area: imagen2;
  padding: 10px;
}

.tienda2{
  grid-area: tienda2;
  padding: 10px;
}

.info2{
  grid-area: info2;
  padding: 10px;
}

.imagen3{
  grid-area: imagen3;
  padding: 10px;
}

.tienda3{
  grid-area: tienda3;
  padding: 10px;
}

.info3{
  grid-area: info3;
  padding: 10px;
}

.imagen4{
  grid-area: imagen4;
  padding: 10px;
}

.tienda4{
  grid-area: tienda4;
  padding: 10px;
}

.info4{
  grid-area: info4;
  padding: 10px;
}

.imagen5{
  grid-area: imagen5;
  padding: 10px;
}

.tienda5{
  grid-area: tienda5;
  padding: 10px;
}

.info5{
  grid-area: info5;
  padding: 10px;
}

.imagen6{
  grid-area: imagen6;
  padding: 10px;
}

.tienda6{
  grid-area: tienda6;
  padding: 10px;
}

.info6{
  grid-area: info6;
  padding: 10px;
}

.imagen7{
  grid-area: imagen7;
  padding: 10px;
}

.tienda7{
  grid-area: tienda7;
  padding: 10px;
}

.info7{
  grid-area: info7;
  padding: 10px;
}

.imagen8{
  grid-area: imagen8;
  padding: 10px;
}

.tienda8{
  grid-area: tienda8;
  padding: 10px;
}

.info8{
  grid-area: info8;
  padding: 10px;
}

footer{
  grid-area: pie;
  background-color: #555;
  display: grid;
  grid-template-areas: 
  'pbx direccion carne nombre'
  ;
  grid-template-columns: 20% 25% 25% 30%;
  padding: 10px;
  font-family: 'Arial Narrow Bold';
}

iframe{
  border: 2px solid black;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.contenedor h3{
  text-align: center;
  font-family: 'Arial Narrow Bold';
  font-size: 30px;
}

.contenedor p{
  font-family: 'Arial Narrow Bold';
  font-size: 20px;
}

footer b{
  text-align: center;
  font-family: 'Arial Narrow Bold';
  font-size: 20px;
}